.beyond-button {
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.beyond-button:active, .beyond-button:hover, .beyond-button:focus {
  outline: 0;
}
.beyond-button span {
  position: absolute;
  background-color: rgba(151, 151, 151, 0.7098039216);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: rippleEffect 1s linear infinite;
  animation: rippleEffect 1s linear infinite;
}
@-webkit-keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
@keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.beyond-button.btn {
  cursor: pointer;
  width: auto;
  min-height: 35px;
  max-height: 35px;
  transition: all 300ms ease-in;
  border-radius: 8px;
  font-weight: 500;
  padding: 0 15px;
  display: inline-block;
  text-transform: lowercase;
  border: none;
}
.beyond-button.btn:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.beyond-button.btn:active:not(:disabled) {
  transform: translateY(3px);
}
.beyond-button.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.beyond-button.btn.btn-primary {
  background-color: var(--primary);
  color: var(--text-on-primary);
}
.beyond-button.btn.btn-primary:hover:not(:disabled) {
  background-color: var(--primary-dark);
}
.beyond-button.btn.btn-primary-dark {
  background-color: var(--primary-dark);
  color: var(--text-on-primary);
}
.beyond-button.btn.btn-primary-dark:hover:not(:disabled) {
  background-color: var(--primary);
}
.beyond-button.btn.btn-secondary {
  background-color: var(--secondary);
  color: var(--text-on-secondary);
}
.beyond-button.btn.btn-secondary:hover:not(:disabled) {
  background-color: var(--secondary-dark);
}
.beyond-button.btn.btn-border {
  border: 1px solid var(--primary);
  color: var(--text);
}
.beyond-button.btn.btn-border:hover:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.beyond-button.btn.btn-cancel {
  background-color: var(--gray-variant);
  color: var(--text-on-secondary);
}
.beyond-button.btn.btn-cancel:hover:not(:disabled) {
  background-color: var(--gray);
}
.beyond-button.btn:first-letter {
  text-transform: uppercase;
}
@media screen and (max-width: 360px) {
  .beyond-button.btn {
    font-size: 12px;
  }
}
.beyond-button.has-icon {
  display: flex !important;
  align-items: center;
  column-gap: 8px;
}
.beyond-button.has-icon svg.beyond-icon {
  fill: var(--secondary);
}
.beyond-checkbox .cbx {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.beyond-checkbox .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  color: var(--gray-darker);
  font-weight: 500;
}
.beyond-checkbox .cbx span:first-child {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid var(--gray-darker);
  transition: all 0.2s ease;
}
.beyond-checkbox .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 14px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
  width: 10px;
}
.beyond-checkbox .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 6px;
  transition-delay: 0.2s;
}
.beyond-checkbox .cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.beyond-checkbox .cbx:hover span:first-child {
  border-color: var(--primary);
}
.beyond-checkbox .inp-cbx:checked + .cbx span:first-child {
  border-color: var(--primary);
  background: var(--primary);
  -webkit-animation: check 0.6s ease;
  animation: check 0.6s ease;
}
.beyond-checkbox .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.beyond-checkbox .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.beyond-checkbox .inp-cbx:checked + .cbx span:last-child {
  color: var(--gray-darker);
  transition: all 0.3s ease;
}
.beyond-checkbox .inp-cbx:checked + .cbx span:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}
@-webkit-keyframes check {
  50% {
    transform: scale(1.2);
  }
}
@keyframes check {
  50% {
    transform: scale(1.2);
  }
}
.beyond-element-input,
.beyond-element-textarea {
  width: 100%;
  position: relative;
  border: 1.5px solid var(--border-variant);
  border-radius: var(--border-secondary);
  margin: 1rem 0;
  transition: all 0.4s ease-in-out;
  padding: 0 8px;
}
.beyond-element-input input,
.beyond-element-input textarea,
.beyond-element-textarea input,
.beyond-element-textarea textarea {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: var(--gray-darker);
  font-size: 16px;
  line-height: 1.5rem;
  transition: all 0.4s ease-in-out;
  background-clip: content-box;
}
.beyond-element-input input:-webkit-autofill, .beyond-element-input input:-webkit-autofill:focus,
.beyond-element-input textarea:-webkit-autofill,
.beyond-element-input textarea:-webkit-autofill:focus,
.beyond-element-textarea input:-webkit-autofill,
.beyond-element-textarea input:-webkit-autofill:focus,
.beyond-element-textarea textarea:-webkit-autofill,
.beyond-element-textarea textarea:-webkit-autofill:focus {
  -webkit-transition: background-color 9000000000s 0s, color 9000000000s 0s;
  transition: background-color 9000000000s 0s, color 9000000000s 0s;
}
.beyond-element-input input:focus,
.beyond-element-input textarea:focus,
.beyond-element-textarea input:focus,
.beyond-element-textarea textarea:focus {
  color: var(--gray-dark);
}
.beyond-element-input input[type=password]::-ms-reveal,
.beyond-element-input input[type=password]::-ms-clear,
.beyond-element-input input[type=password]::-webkit-contacts-auto-fill-button,
.beyond-element-input input[type=password]::-webkit-credentials-auto-fill-button,
.beyond-element-textarea input[type=password]::-ms-reveal,
.beyond-element-textarea input[type=password]::-ms-clear,
.beyond-element-textarea input[type=password]::-webkit-contacts-auto-fill-button,
.beyond-element-textarea input[type=password]::-webkit-credentials-auto-fill-button {
  display: none !important;
}
.beyond-element-input input[data-autocompleted],
.beyond-element-textarea input[data-autocompleted] {
  background-color: transparent !important;
}
.beyond-element-input:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled), .beyond-element-input:focus-within:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled),
.beyond-element-textarea:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled),
.beyond-element-textarea:focus-within:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled) {
  border-color: var(--primary);
}
.beyond-element-input:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled) input, .beyond-element-input:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled) textarea,
.beyond-element-textarea:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled) input,
.beyond-element-textarea:hover:not(.beyond-element-input.disabled,
.beyond-element-textarea.disabled) textarea {
  color: var(--gray-dark);
}
.beyond-element-input label,
.beyond-element-textarea label {
  position: absolute;
  background-color: transparent;
  padding: 8px 24px;
  line-height: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--gray-dark);
  cursor: text;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  text-transform: lowercase;
}
.beyond-element-input label:first-letter,
.beyond-element-textarea label:first-letter {
  text-transform: uppercase;
}
.beyond-element-input:focus-within label,
.beyond-element-input input:not(:placeholder-shown) ~ label,
.beyond-element-input textarea:not(:placeholder-shown) ~ label,
.beyond-element-textarea:focus-within label,
.beyond-element-textarea input:not(:placeholder-shown) ~ label,
.beyond-element-textarea textarea:not(:placeholder-shown) ~ label {
  padding: 0px 8px;
  background-color: var(--element-bg);
  top: -12px;
  left: 16px;
  bottom: auto;
  transition: all 0.3s ease-in-out;
  color: var(--gray);
}
.beyond-element-input .beyond-element-input-error,
.beyond-element-textarea .beyond-element-input-error {
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  color: var(--error);
  font-size: 12px;
}
.beyond-element-input.disabled, .beyond-element-input:disabled,
.beyond-element-textarea.disabled,
.beyond-element-textarea:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.beyond-element-input.disabled:focus-within label,
.beyond-element-input.disabled input:not(:placeholder-shown) ~ label,
.beyond-element-input.disabled textarea:not(:placeholder-shown) ~ label,
.beyond-element-input.disabled label, .beyond-element-input:disabled:focus-within label,
.beyond-element-input:disabled input:not(:placeholder-shown) ~ label,
.beyond-element-input:disabled textarea:not(:placeholder-shown) ~ label,
.beyond-element-input:disabled label,
.beyond-element-textarea.disabled:focus-within label,
.beyond-element-textarea.disabled input:not(:placeholder-shown) ~ label,
.beyond-element-textarea.disabled textarea:not(:placeholder-shown) ~ label,
.beyond-element-textarea.disabled label,
.beyond-element-textarea:disabled:focus-within label,
.beyond-element-textarea:disabled input:not(:placeholder-shown) ~ label,
.beyond-element-textarea:disabled textarea:not(:placeholder-shown) ~ label,
.beyond-element-textarea:disabled label {
  color: var(--gray);
  cursor: no-drop;
}
.beyond-element-input.disabled input,
.beyond-element-input.disabled textarea, .beyond-element-input:disabled input,
.beyond-element-input:disabled textarea,
.beyond-element-textarea.disabled input,
.beyond-element-textarea.disabled textarea,
.beyond-element-textarea:disabled input,
.beyond-element-textarea:disabled textarea {
  cursor: no-drop;
}
.beyond-element-input.has-icon,
.beyond-element-textarea.has-icon {
  display: flex;
  align-items: center;
}
.beyond-element-input.has-icon label,
.beyond-element-textarea.has-icon label {
  padding: 8px 35px;
}
.beyond-element-input.has-icon input,
.beyond-element-input.has-icon textarea,
.beyond-element-textarea.has-icon input,
.beyond-element-textarea.has-icon textarea {
  padding: 0.5rem;
}
.beyond-element-input.has-icon:focus-within label,
.beyond-element-input.has-icon input:not(:placeholder-shown) ~ label,
.beyond-element-input.has-icon textarea:not(:placeholder-shown) ~ label,
.beyond-element-textarea.has-icon:focus-within label,
.beyond-element-textarea.has-icon input:not(:placeholder-shown) ~ label,
.beyond-element-textarea.has-icon textarea:not(:placeholder-shown) ~ label {
  padding: 0px 19px;
}
.beyond-element-input.has-icon .beyond-icon,
.beyond-element-textarea.has-icon .beyond-icon {
  z-index: 10;
}
@media screen and (max-width: 450px) {
  .beyond-element-input.has-icon .beyond-icon-button,
  .beyond-element-textarea.has-icon .beyond-icon-button {
    height: 30px;
  }
}
.beyond-element-input .eye.beyond-icon-button svg.beyond-icon,
.beyond-element-textarea .eye.beyond-icon-button svg.beyond-icon {
  width: 20px;
  height: 20px;
  color: var(--gray);
  fill: var(--gray);
}
.beyond-element-input.error,
.beyond-element-textarea.error {
  border-color: var(--error);
}
@media screen and (min-width: 768px) {
  .beyond-element-input .beyond-element-input-error,
  .beyond-element-textarea .beyond-element-input-error {
    font-size: 13px;
    bottom: -1.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-height: 1200px) {
  .beyond-element-input .beyond-element-input-error,
  .beyond-element-textarea .beyond-element-input-error {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .beyond-element-input,
  .beyond-element-textarea {
    font-size: 11px;
  }
  .beyond-element-input .beyond-input__required-label,
  .beyond-element-textarea .beyond-input__required-label {
    font-size: 16px;
  }
  .beyond-element-input input,
  .beyond-element-textarea input {
    padding: 0.4rem 1rem;
    line-height: 1.1rem;
    font-size: 13px;
  }
  .beyond-element-input label,
  .beyond-element-textarea label {
    line-height: 17px;
  }
}
.beyond-element-input .beyond-element-spinner,
.beyond-element-textarea .beyond-element-spinner {
  width: 40px;
  height: 40px;
}
.beyond-element-radio {
  display: flex;
  gap: 16px;
  align-items: end;
}
.beyond-element-radio input[type=radio] {
  --text: var(--text-on-primary);
  --radio: var(--primary);
  --radio-checked: var(--primary);
  --radio-size: 20px;
  --width: 100px;
  --height: 140px;
  --border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: transparent;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.5s ease;
}
.beyond-element-radio input[type=radio]::before, .beyond-element-radio input[type=radio]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}
.beyond-element-radio input[type=radio]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  opacity: var(--opacity, 1);
}
.beyond-element-radio input[type=radio]::after {
  position: relative;
  width: 50%;
  height: 50%;
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}
.beyond-element-radio input[type=radio]:checked {
  --radio: var(--radio-checked);
}
.beyond-element-radio input[type=radio]:checked::after {
  --y: 0%;
  animation: stretch-animate 0.3s ease-out 0.17s;
}
.beyond-element-radio input[type=radio]:checked::before {
  --opacity: 0;
}
.beyond-element-radio input[type=radio]:checked ~ input[type=radio]::after {
  --y: -100%;
}
.beyond-element-radio input[type=radio]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear 0.5s;
}
@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }
  28% {
    transform: scale(1.15, 0.85);
  }
  50% {
    transform: scale(0.9, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.beyond-element-radio label {
  display: block;
  line-height: 1;
  color: var(--text-on-primary);
  font-size: 16px;
}
.beyond-element-switch .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.beyond-element-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.beyond-element-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.beyond-element-switch .switch input:checked + .slider {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.beyond-element-switch .switch input:checked + .slider:before {
  transform: translateX(26px);
}
.beyond-element-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-light);
}
.beyond-element-switch .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-light);
  transition: 0.4s;
  border-radius: 34px;
  box-sizing: border-box;
}
.beyond-element-switch .switch .slider:before {
  position: absolute;
  inset: 1px;
  top: 1px;
  left: 1px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--primary);
  transition: 0.4s;
  border-radius: 50%;
}
.beyond-element-switch.round .slider {
  border-radius: 34px;
}
.beyond-element-switch.round .slider:before {
  border-radius: 50%;
}
.beyond-element-switch.disabled {
  opacity: 0.4;
}
.beyond-element-switch.disabled .slider {
  cursor: not-allowed !important;
}


/*# sourceMappingURL=form.css.map*/