.validation {
    background-color: var(--primary-container);
    border-radius: var(--border-primary);
    ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 16px;
        margin: 22px 0 0;
        li {
            position: relative;
            list-style: none;
            color: var(--on-primary-container);
            transition: all 0.5s ease-in-out;
            font-size: 14px;
            display: flex;
            -moz-column-gap: 8px;
                 column-gap: 8px;
            align-items: center;
            svg.beyond-icon {
                fill: var(--on-error);
            }
            &.valid {
                color: rgba(255, 255, 255, 0.5);
                svg.beyond-icon {
                    fill: var(--on-success);
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        ul li {
            font-size: 12px;
        }
    }
}
