.sidebar {
	&__list {
		margin: 0;
		padding: 0;
		li {
			padding: 1rem;
			color: var(--text-on-primary);
			list-style-type: none;
			cursor: pointer;
		}
	}

	.beyond-element-image {
		max-width: 220px;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__header {
		padding: 1rem 1.5rem;
		display: flex;
		align-items: center;

		.logo h1 {
			padding: 0 0 0 10px;
			color: var(--text-on-primary);
			font-size: 20px;
			line-height: 1;
			letter-spacing: 0;
			font-weight: 400;
			display: flex;
			align-items: center;
			gap: 0.5rem;

			.badge {
				font-size: 1rem;
				background: var(--primary-light);
				border-radius: 30px;
				padding: 0.4rem 0.8rem;
			}
		}
		.toggle__btn.beyond-icon-button {
			padding: 0 1rem 0 0;
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
		}
	}
}
