.main-content {
    width: calc(100% - 80px);
    margin-left: 80px;
    position: relative;
    margin-top: 60px;
    transition: all 200ms ease-in-out;
    color: var(--text-on-primary);
    float: right;
    &.expand {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
}
