.container-sidebar-header {
	box-shadow: 0 -1rem 15rem var(--black);
	display: flex;
	.header {
		position: fixed;
		left: 80px;
		background-color: var(--primary-dark);
		transition: all 200ms ease-in-out;
		width: calc(100% - 96px);
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 16px;
		color: var(--text-on-primary);
		z-index: 9;
		&.expand {
			left: 300px;
			width: calc(100% - 316px);
		}
	}
}
