.content-user {
	display: flex;
	align-items: center;
	column-gap: 12px;
	min-width: 135px;

	.user-img {
		width: 39px;
		height: 39px;

		svg {
			fill: var(--text-on-primary);
			stroke: var(--text-on-primary);
		}
	}

	.user-info {
		display: flex;
		flex-direction: column;
		strong {
			color: var(--text-on-secondary);
			font-size: 16px;
		}
		span {
			color: var(--secondary);
			font-size: 13px;
		}
		strong,
		span {
			letter-spacing: 0px;
			line-height: 1;
		}
	}
	&:before {
		content: ' ';
		width: 1px;
		background-color: var(--gray);
		height: 31px;
	}
}
