.date.form-group-jview {
  max-width: 52rem;
  .container-date {
    display: flex;
    -moz-column-gap: 0.3rem;
         column-gap: 0.3rem;
    margin-right: 0.3rem;
  }
  .pui-element-input input[type="date"] {
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png");
    background-position: right 1em top 44%, 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    &::-webkit-calendar-picker-indicator {
      // background: red;
      position: absolute;
      right: 1rem;
      opacity: 0;
      bottom: 10px;
    }
  }
  .pui-element-input {
    height: 38px;
    margin: 0;
    width: 10rem;
    .pui-element-input-error {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
    &.form-control-end {
      .pui-element-input-error {
        display: none;
      }
    }
  }
  @media screen and (max-width:450px) {
    .pui-element-input input[type="date"] {
      background-position: right 1.2em top 60%,0 0;
    }
  }
}
