@import "~template/sass/variables";
form.form-group-jview {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  #search-box {
    position: relative;
    width: 100%;
    margin: 0;
  }
  #search-form {
    height: 35px;
    border: 1px solid var(--primary);
    border-radius: var(--border-secondary);
    background-color: var(--element-bg);
    overflow: hidden;
    min-width: 16rem;
    position: relative;
    &:focus-within {
      #search-button {
        background-color: var(--primary-dark);
      }

      #search-button {
        border: 1px solid var(--primary-dark);
      }
      border: 1px solid var(--primary-dark);
    }
  }
  #search-text {
    font-size: 14px;
    border-width: 0;
    background-color: transparent;
    width: calc(100% - 100px);
    padding: 8px 0 12px 1em;
    color: var(--gray-darker);
    outline: none;
    background-clip: content-box;
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      -webkit-transition: background-color 600000s 0s, color 600000s 0s;
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    &::-webkit-input-placeholder {
      font-size: 13px;
    }
    &::-moz-placeholder {
      font-size: 13px;
    }
    &:-ms-input-placeholder {
      font-size: 13px;
    }
    &::-ms-input-placeholder {
      font-size: 13px;
    }
    &::placeholder {
      font-size: 13px;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  input[data-autocompleted] {
    background-color: transparent !important;
  }
  #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 80px;
    color: var(--text);
    text-align: center;
    font-size: 14px;
    line-height: 4px;
    border-width: 0;
    background-color: var(--primary);
    border-radius: 0 var(--border-secondary) var(--border-secondary) 0;
    cursor: pointer;
    border: 1px solid var(--primary);
  }
  .beyond-icon-button {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(-79px, 4px);
    width: 25px;
    height: 25px;
    svg {
      height: 15px;
      width: 15px;
      fill: var(--primary-dark);
    }
  }
  &.preload-search {
    #search-form {
      border: 1px solid var(--gray-light);
    }
    #search-button {
      background-color: var(--gray-light);
      border: 1px solid var(--gray-light);
    }
  }
}
