.auth-page__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.auth-page__container .content-auth {
  border-radius: var(--border-secondary);
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  padding: 58px 57px 69px;
  width: 100%;
  max-width: 561px;
  border: 1px solid var(--border);
}
.auth-page__container .content-auth figure.beyond-element-image {
  height: 90px;
  align-self: center;
  aspect-ratio: 52/45;
}
.auth-page__container .content-auth figure.beyond-element-image img {
  width: 100%;
  height: 100%;
}
.auth-page__container form .content-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.auth-page__container form .content-inputs .beyond-element-input {
  width: 97%;
}
.auth-page__container form .content-forget-remember {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20.37px 0;
}
.auth-page__container form .content-forget-remember .content-remember {
  display: flex;
  align-items: center;
  column-gap: 8px;
  flex-wrap: wrap;
  row-gap: 8px;
}
.auth-page__container form .content-forget-remember .content-remember span {
  color: var(--text-on-primary);
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 1;
}
.auth-page__container form .content-forget-remember .forget-password {
  color: var(--text-on-primary);
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-align: end;
}
.auth-page__container form .form__actions {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 40px 0 0;
}
.auth-page__container form .form__actions button.beyond-button {
  width: 100%;
  height: 47px;
  max-height: initial;
}
.auth-page__container form .form__actions button.beyond-button .beyond-element-spinner {
  width: 55px;
  height: 55px;
}
.auth-page__container form .form__actions.two-actions {
  column-gap: 41px;
}
.auth-page__container form .form__actions.two-actions-code {
  margin: 31.05px 0 0;
  column-gap: 22px;
}
.auth-page__container .title-login {
  margin: 27.16px 0 17.43px;
  padding: 0;
  font-size: 18px;
  text-align: center;
  color: var(--text-on-primary);
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: bold;
  line-height: 1;
}
.auth-page__container .title-login.title-form {
  margin: 30.28px 0 0;
}
.auth-page__container .texts-subtitle {
  font-size: 16px;
  color: var(--text-on-primary);
  line-height: 1;
  margin: 17.2px 0;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}
.auth-page__container .texts-subtitle__code {
  margin: 0 0 21.18px;
}
@media screen and (max-width: 450px) {
  .auth-page__container .title-login {
    font-size: 16px;
  }
  .auth-page__container .texts-subtitle {
    font-size: 12px;
  }
  .auth-page__container .content-auth {
    padding: 32px 16px;
  }
  .auth-page__container .content-auth .content-forget-remember .content-remember span,
  .auth-page__container .content-auth .content-forget-remember .forget-password {
    font-size: 14px;
  }
  .auth-page__container .content-auth .form__actions button.beyond-button {
    height: 40px;
  }
  .auth-page__container .content-auth .form__actions.two-actions-code {
    column-gap: 8px;
  }
  .auth-page__container .content-auth figure.beyond-element-image {
    height: 60px;
  }
}
.content-mdx p {
  margin: 0;
  font-size: 16px;
  color: var(--text-on-primary);
}

p {
  margin: 12px 0;
}
ul,
ol {
  padding: 0 1rem;
  width: 100%;
}
ul li,
ol li {
  padding: 0.5rem 0;
}
.page__container {
  padding: 1rem 3rem 3rem 3rem;
}
* {
  font-family: var(--font-family);
}