@mixin properties() {

	--text-color: #1a1a1a;
	
	--on-primary: var(--primary-100);
	--primary-container: var(--primary-90);
	--on-primary-container: var(--primary-10);

	--on-secondary: var(--secondary-100);
	--secondary-container: var(--secondary-90);
	--on-secondary-container: var(--secondary-10);

	--on-tertiary: var(--tertiary-100);
	--tertiary-container: var(--tertiary-90);
	--on-tertiary-container: var(--tertiary-10);

	--surface: var(--neutral-98);
	--on-surface: var(--neutral-10);
	--outline: var(--neutral-40);
	--surface-variant: var(--neutral-90);
	--on-surface-variant: var(--neutral-80);
	--surface-container: var(--neutral-90);

	--background: var(--neutral-99);
	--on-background-variant: var(--surface-variant);
	--on-background: (--neutral-20);


	--on-error: var(--error-100);
	--on-error-container: var(--error-40);
	--on-error-border: var(--error-70);

	--on-warning: var(--warning-100);
	--warning-container: var(--warning-40);
	--warning-border: var(--warning-70);

	--on-success: var(--success-100);
	--success-container: var(--success-40);
	--success-border: var(--success-70);

	--on-info: var(--info-100);
	--info-container: var(--info-40);
	--info-border: var(--info-70);

	--bg-gradient: linear-gradient(115deg, #f7f7f7, #456789) --variant-background-container: linear-gradient(180deg, var(--tertiary) 14%, var(--secondary) 92%);
	--box-shadow: 0px 2px 8px #58585833;

	--primary-dark: #002130;
	--primary-light: #3c7586;
	--primary-accent: #39a9dc;
	--text-on-primary: #343434;

	--secondary-dark: #87c544;
	--secondary-light: #baf874;
	--secondary-accent: #f7c700;
	--text-on-secondary: #343434;

	--text-color: var(--gray-darker);
	--surface: #f7f7f7;
	--element-bg: #fff;
	--border: #e7e7e7;
	--border-variant: #e1e5ef;

	--preload-bg: var(--secondary);
	--app-editor-bg: #f5f7ff;
	--app-surface-notes: #e4e4e4;

	--input-bg: #ffffff;
	--border-color: var(--border);
	--icon-color: var(--primary);
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	/**
    Nuevas
    */

	--error: #ba1a1a;
	--error-container: #ffdad6;
	--on-error: #ffffff;
	--on-error-container: #410002;

	--background: #f8fdff;
	--on-background: #001f25;
	--surface: #f8fdff;

	--on-surface: #001f25;
	--surface-variant: #dde3ea;
	--on-surface-variant: #41474d;
	--outline: #72787e;

	--inverse-on-surface: #d6f6ff;
	--inverse-surface: #00363f;
	--inverse-primary: #8ccdff;
	--shadow: #000000;

	--surface-tint: #006493;
	--outline-variant: #c1c7ce;
	--scrim: #000000;
	--black: #000;

	--header-bg: #3c7586;
}
